body{
font-size: 62.5%;
font-family: Verdana, Geneva, sans-serif;
width: 100%;
}

nav{
float: left;
min-width: 250px;
width: 20%;
}

.outsideNavBox{
height: 100%;
background: url("/Content/images/texture.png");
}

.innerNavBox{
height: 450px;
position: relative;
top: 20%;
background-color: #000;
margin-left: auto;
margin-right: auto;
}

nav a{
display: list-item;
background-color: #ffd700;
padding: 5px 5px 5px 5px;
color: #000;
text-decoration: none;
font-size: 30px;
border-top-left-radius: 40px;
border-bottom-left-radius: 40px;
width: 80%;
height: 35px;
margin-left: 20px;
margin-bottom: 26px;
text-align: center;
}

.content{
width: 80%;
float: right;
}

.outsideContentBox{
height: 100%;
background: url("/Content/images/classroomDesks.jpg") #fff3b2 no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.innerContentBox{
height: 500px;
position: relative;
top: 20%;
background-color: #ffe34c;
}

.pageTitle 
{
    background-color:#535352;
    outline-style:solid;
    outline-color: #000;
    color: #ffd700;
    padding: 8px;
    position: fixed;
    font-size: 50px;
    top: 145px;
    left: 500px;
    z-index: 3;
}

.navCorner {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 140px;
    left: 450px;
    z-index: 3;
}