@{
    ViewBag.Title = "_MainLayout";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/style/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style/Style.css" />
</head>
<body>
    <nav>
        <div class="outsideNavBox">
            <div class="innerNavBox">
                <a href="">Home</a>
                <a href="">Home</a>
                <a href="">Home</a>
                <a href="">Home</a>
                <a href="">Home</a>
                <a href="">Home</a>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="pageTitle">
            @RenderSection("pageTitle")
        </div>
        <div class="outsideContentBox">
            <div class="innerContentBox">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
