@{
    ViewBag.Title = "_MainLayout";
}

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style/Style.css" />
</head>
<body>
    <nav>
        <div class="outsideNavBox">
            <div class="innerNavBox">
            <div class="innerNavBox">
                <a href="">Home</a>
                <a href="">Calendar</a>
                <a href="">Profile</a>
                <a href="">About</a>
                <a href="">Life</a>
                <a href="">Staff</a>
                <a href="">FAQ</a>
            </div>
            </div>
        </div>
    </nav>
    <div class="content">
        <img src="~/Content/images/nav-corner.png" class="navCorner"/>
        <div class="pageTitle">
            @RenderSection("pageTitle")
        </div>
        <div class="outsideContentBox">
            <div class="innerContentBox">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
