@{
    ViewBag.Title = "Announcements";
    Layout = "~/Views/_MainLayout.cshtml";
}
@section pageTitle{
    Calendar
}

<h2>Announcements</h2>

<iframe src="https://www.google.com/calendar/embed?src=jlgjso16kdr0k3902un4bbi34k%40group.calendar.google.com&ctz=America/Denver" 
    style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
</iframe>