@{
    ViewBag.Title = "Faculty";
    Layout = "~/Views/_MainLayout.cshtml";
}

@section pageTitle{
    Faculty
}

<section class="height250 aboutUsBox">
    <article>
<ul class="facultyList">
    <li>
        <h1 class="mainHeader">Admin</h1>
        <ul class="facultyListTitle">
            <li>
                Principal
                <ul class="facultyListName">
                    <li class="whiteFont">Isaac Sutherland</li>
                    <li>555-0001</li>
                    <li>principal@altavista.com</li>
                </ul>
            </li>
            <li>
                Vice Principal
                <ul class="facultyListName">
                    <li class="whiteFont">Alexandra Paige</li>
                    <li>555-0002</li>
                    <li>viceprincipal@altavista.com</li>
                </ul>
            </li>
            <li>
                Counselor
                <ul class="facultyListName">
                    <li class="whiteFont">Wendy Peake</li>
                    <li>555-0003</li>
                    <li>Counselor@altavista.com</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
       <h1 class="mainHeader">Math</h1>
        <ul class="facultyListName">
            <li class="whiteFont">Trevor Lee</li>
            <li>555-0004</li>
            <li>math@altavista.com</li>
        </ul>
    </li>
    <li>
        <h1 class="mainHeader">Science</h1>
        <ul class="facultyListName">
            <li class="whiteFont">Pippa Oliver</li>
            <li>555-0005</li>
            <li>science@altavista.com</li>
        </ul>
    </li>
    <li>
        <h1 class="mainHeader">History</h1>
        <ul class="facultyListName">
            <li class="whiteFont">Trevor Johnston</li>
            <li>555-0006</li>
            <li>history@altavista.com</li>
        </ul>
    </li>
    <li>
        <h1 class="mainHeader">English</h1>
        <ul class="facultyListName">
            <li class="whiteFont">Gabrielle Gill</li>
            <li>555-0007</li>
            <li>English@altavista.com</li>
        </ul>
    </li>
    <li>
        <h1 class="mainHeader">Tech</h1>
        <ul class="facultyListName">
            <li class="whiteFont">Dylan Stewart</li>
            <li>555-0008</li>
            <li>technology@altavista.com</li>
        </ul>
    </li>
</ul>
        </article>
    </section>