@{
    ViewBag.Title = "Faculty";
    Layout = "~/Views/_MainLayout.cshtml";
}

@section pageTitle{
    Faculty
}

<ul>
    <li>
        Admin
        <ul>
            <li>
                Principal
                <ul>
                    <li>Isaac Sutherland</li>
                    <li>555-0001</li>
                    <li>principal@altavista.com</li>
                </ul>
            </li>
            <li>
                Vice Principal
                <ul>
                    <li>Alexandra Paige</li>
                    <li>555-0002</li>
                    <li>viceprincipal@altavista.com</li>
                </ul>
            </li>
            <li>
                Counselor
                <ul>
                    <li>Wendy Peake</li>
                    <li>555-0003</li>
                    <li>Counselor@altavista.com</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        Math
        <ul>
            <li>Trevor Lee</li>
            <li>555-0004</li>
            <li>math@altavista.com</li>
        </ul>
    </li>
    <li>
        Science
        <ul>
            <li>Pippa Oliver</li>
            <li>555-0005</li>
            <li>science@altavista.com</li>
        </ul>
    </li>
    <li>
        History
        <ul>
            <li>Trevor Johnston</li>
            <li>555-0006</li>
            <li>history@altavista.com</li>
        </ul>
    </li>
    <li>
        English
        <ul>
            <li>Gabrielle Gill</li>
            <li>555-0007</li>
            <li>English@altavista.com</li>
        </ul>
    </li>
    <li>
        Tech
        <ul>
            <li>Dylan Stewart</li>
            <li>555-0008</li>
            <li>technology@altavista.com</li>
        </ul>
    </li>
</ul>
