@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_MainLayout.cshtml";
}


@section pageTitle{
    Home
}

<section>
    <article>
        <h1>Welcome to Alta Vista!</h1>
    </article>
</section>

<section class="slideshow">

</section>