@{
    ViewBag.Title = "ProfileAssignments";
    Layout = "~/Views/_MainLayout.cshtml";
}

@section pageTitle{
    Assignments
}

<div class="profiles">
    <div class="Assignments">
        <h1>Assignments</h1>
        <br />
        <p><u>Writing Assignment 3</u></p>
        <br />
        <p><u>Critical Analysis</u></p>
        <br />
        <p><u>Type Test 2</u></p>
        <br />
        <p><u>What is a Variable</u></p>
        <br />
        <p><u>Short Story</u></p>
        <br />
        <p><u>Algebra Assignment 5</u></p>
    </div>

    <div class="profileNav">
        Profile Options
        <br />
        @Html.ActionLink("Payments", "ProfilePayments", "Home")
        @Html.ActionLink("Assignments", "ProfileAssignments", "Home")
        @Html.ActionLink("Grades", "ProfileGrades", "Home")
    </div>
</div>